config MTK_STK8BAXX_NEW
	bool "STK8BAXX for MediaTek package"
	default n
	help
	  It support different accelerometer sensor.
          If this option is set,
	  it will support
          stk8baxx Accelerometer.
